/**
 * @name         Chatty
 * @description  a clean multifunctional theme
 * @author       Light#0853 and Xyhlo#9766
 * @version      1.3
 * @authorId     297352068858118147 and 536197278126309397
*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand');
@import url('https://codedotspectra.github.io/themes/core/custom-font.css');
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);
@import url('https://v-briese.github.io/channel-icons/channelicons.theme.css');
@import url('https://lolpowerluke.github.io/discordtheme/separators.css');
@import url(https://ghostmander.github.io/discordfont/DiscordFont.css);
/* USRBG */
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/UsrBgs.css");

:root {
	--chattyBackgroundImage: url(https://cdn.discordapp.com/attachments/869695065210109992/870796924293369936/high_quality_wallpaper_HD_1080_IDS_1177611-1200x675.png);
	--chattyBorderRadius: 15px;
	--chattyPadding: 10px;
	--chattyBlur: 5px;
	/* Added by Light#0853 */
	--interactive-muted: #d08770;
	--background-primary: rgba(0, 0, 0, 0.2);
	--background-secondary: rgba(0, 0, 0, 0.3);
	--background-secondary-alt: rgba(0, 0, 0, 0.3);
	--background-tertiary: rgb(39, 39, 39);
	--mentionedColor: rgba(243, 54, 7, 0.582);
	/* Updated by 
__   __          _       _             _  _      ___    ______     __      __  
\ \ / /         | |     | |          _| || |_   / _ \  |____  |   / /     / /  
 \ V /   _   _  | |__   | |   ___   |_  __  _| | (_) |     / /   / /_    / /_  
  > <   | | | | | '_ \  | |  / _ \   _| || |_   \__, |    / /   | '_ \  | '_ \ 
 / . \  | |_| | | | | | | | | (_) | |_  __  _|    / /    / /    | (_) | | (_) |
/_/ \_\  \__, | |_| |_| |_|  \___/    |_||_|     /_/    /_/      \___/   \___/ 
          __/ |                                                                
         |___/                                                                  */
}
.wrapper-3NnKdC,
.guilds-1SWlCJ {
	background-image: url(https://cdn.discordapp.com/attachments/869695065210109992/870796924293369936/high_quality_wallpaper_HD_1080_IDS_1177611-1200x675.png);
	border-radius: 15px;
	padding: 10px !important;
	background-color: rgba(0, 0, 0, 0.445) !important;
	backdrop-filter: blur(20px) !important;
}
.scroller-1Bvpku {
	background: transparent !important;
	z-index: 100 !important;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.445) !important;
	backdrop-filter: blur(20px) !important;
}
.wrapper-3NnKdC,
.guilds-1SWlCJ {
	background: transparent !important;
	z-index: 100 !important;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0) !important;
	backdrop-filter: blur(20px) !important;
}
.winButton-iRh8-Z svg {
	color: rgb(0, 255, 242);
}
.winButton-iRh8-Z:hover svg {
	color: pink !important;
}

.userPopout-xaxa6l {
	background: url('https://cdn.discordapp.com/attachments/869695065210109992/870796924293369936/high_quality_wallpaper_HD_1080_IDS_1177611-1200x675.png')
		center/cover no-repeat;
}

.bodyInnerWrapper-26fQXj {
	background: transparent;
}

.userPopout-xaxa6l {
max-height: 600px !important;
border-radius: var(--chattyBorderRadius) !important    ;
background-color: transparent !important;
box-shadow: 0px 0px 20px black;
backdrop-filter: blur(var(--chattyBlur)) brightness(0.7);
}
.avatar-37jOim {
border: 6px solid transparent !important;
background-color: transparent !important;
}
.bodyInnerWrapper-26fQXj {
background-color: transparent !important;
}
.footer-3UKYOU {
background-color: transparent !important;
}
.textarea-2r0oV8:focus {
background-color: var(--background-primary); 
}

/*Rainbow wave mentions*/
html .mention.wrapper-3WhCwL.mention.interactive {
	background-image: linear-gradient(
		to left,
		rgb(51, 255, 0),
		rgb(255, 230, 0),
		red,
		rgb(234, 0, 255),
		rgb(0, 140, 255),
		rgb(51, 255, 0)
	);
	animation: gradient-border 3s linear infinite;
	background-size: 400% 100%;
	color: transparent !important;
	-webkit-background-clip: text;
	position: relative;
	z-index: 1;
}
@keyframes gradient-border {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 130% 0;
	}
}
.message-2qnXI6.mentioned-xhSam7 {
	background-color: rgba(243, 54, 7, 0.082);
	position: relative;
	z-index: 1;
}
.message-2qnXI6.mentioned-xhSam7:before {
	background-color: var(--mentionedColor);
}
.wordmarkWindows-1v0lYD {
	display: none;
}
/* Hide GIFT button */
.buttons-3JBrkn
	> button:not(.BD-TeX-plugin-button)
	> :not(.translateButton-DhP9x8) {
	display: none;
}

/* Hide Stickers button */
.stickerButton-3OEgwj {
	display: none;
}
.contents-2mQqc9 img[src*='536197278126309397'] + h2 .username-1A8OIy {
	color: rgb(0, 0, 0) !important;
	text-shadow: 0px 0px 7px rgb(214, 10, 255) !important;
	font-weight: 700 !important;
}
/*Change selected channel side color*/
.containerDefault--pIXnN.selected-3LIHYU {
	border-left: 6px solid #c5434380;
}
/*Remove Stage Discovery Tab*/
#private-channels [href='/discovery'] {
	display: none;
}
/*Remove Library Tab*/
#private-channels [href='/library'] {
	display: none;
}
/*Remove Nitro Tab*/
#private-channels [href='/store'] {
	display: none;
}
/*Make switches be a button*/
.container-3auIfb {
	width: 20px;
	height: 20px;
	background: transparent !important;
}
.container-3auIfb .slider-TkfMQL {
	left: -6px !important;
}
.container-3auIfb .slider-TkfMQL > rect {
	height: 20px !important;
	width: 20px !important;
	x: 4px !important;
	y: 0px !important;
	rx: 5;
	fill: var(--background-tertiary);
}
.container-3auIfb .slider-TkfMQL[style='left: 12px;'] > rect {
	height: 20px !important;
	width: 20px !important;
	x: 4px !important;
	y: 0px !important;
	rx: 5;
}
/*FriendsList Searchbar remove*/
.searchBarComponent-32dTOx {
	display: none;
}
/*home button gif*/
.childWrapper-anI2G9:not(.acronym-2mOFsV):before {
	content: '';
	width: 100%;
	height: 100%;
	background: url(https://nyri4.github.io/Comfy/assets/bonfire.gif) center/100%
		no-repeat;
}
/*remove dc watermark*/
.homeIcon-FuNwkv {
	display: none;
}
/* Friendlist */
.peopleListItem-2nzedh {
	display: -webkit-box;
	display: -ms-flexbox;
	display: inline-block;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	margin-left: 30px !important;
	margin-right: 32px !important;
	margin-top: 10px !important;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	border-top: none;
	width: 170px !important;
	height: 170px !important;
}
.peopleListItem-2nzedh.active-rhSpJJ,
.peopleListItem-2nzedh:hover {
	background: var(--background-modifier-hover);
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 8px;
	border-color: transparent;
	padding: 0;
}
.peopleListItem-2nzedh.active-rhSpJJ {
	position: relative;
	left: 0px !important;
}
.userInfo-2zN2z8 {
	display: flexbox;
	display: -ms-flexbox;
	display: unset;
	overflow: hidden;
	position: relative;
	width: 180px !important;
	left: 8px;
	top: 30px;
}
div.avatar-3W3CeO.wrapper-3t9DeA {
	width: 90px !important;
	height: 90px !important;
	left: 32px;
	top: -8px;
}
.text-37NqbO {
	position: relative;
	bottom: -10px;
}
.subtext-24R4-w {
	width: 156px;
}
.actions-1SQwjn {
	position: relative;
	width: 88px;
	left: 76px;
	bottom: 0px;
	opacity: 0;
	background-color: transparent;
	height: 44px;
	box-shadow: -5px 0 4px transparent;
	transition: all 0.3s;
}
.peopleListItem-2nzedh.active-rhSpJJ,
.peopleListItem-2nzedh:hover > div.listItemContents-95HL3L > .actions-1SQwjn {
	position: relative;
	width: 88px;
	left: 76px;
	bottom: 0px;
	opacity: 1;
	background-color: transparent;
	height: 44px;
	box-shadow: -5px 0 4px transparent;
	transition: all 0.3s;
}
.actionButton-uPB8Fs {
	position: relative;
	margin-left: 5px !important;
	bottom: -2px;
}
.listItemContents-95HL3L {
	display: block;
}
.nowPlayingColumn-2sl4cE {
	min-width: 420px !important;
}
div.userInfo-2zN2z8.userInfo-3bsjnc {
	height: 140px !important;
}
.avatar-3W3CeO {
	position: relative;
	margin: 0;
	top: 0px !important;
}
.text-37NqbO {
	width: 160px;
}
.actions-FAbeWr {
	opacity: 0;
	position: relative;
	left: -178px;
	bottom: -72px;
}
.peopleListItem-2nzedh:hover > div.listItemContents-2w6nwE > .actions-FAbeWr {
	opacity: 1;
	transition: all 0.3s;
}
div.listItemContents-BUaJR_ > div.userInfo-2zN2z8 {
	height: 140px;
	width: 262px !important;
}
div.listItemContents-BUaJR_
	> div.userInfo-2zN2z8
	> div.text-37NqbO
	> div.discordTag-2_tqUA.nameTag-m8r81H {
	height: 30px;
	width: 170px;
	bottom: 10px;
	position: relative;
}
div.listItemContents-BUaJR_
	> div.userInfo-2zN2z8
	> div.text-37NqbO
	> div.subtext-24R4-w {
	bottom: 10px;
	position: relative;
}
div.listItemContents-BUaJR_
	> div.userInfo-2zN2z8
	> div.text-37NqbO
	> div.discordTag-2_tqUA.nameTag-m8r81H
	> span.bot-2Fta1w.botTagRegular-2HEhHi.botTag-2WPJ74.px-10SIf7 {
	bottom: 2px !important;
	right: 6px !important;
	margin-left: 4px;
}
div.listItemContents-BUaJR_ > div.actionButton-uPB8Fs.actionDeny-de_uKj {
	opacity: 0;
	margin-left: -116px !important;
	background-color: transparent;
	bottom: -8px;
}
div.listItemContents-BUaJR_:hover > div.actionButton-uPB8Fs.actionDeny-de_uKj {
	transition: all 0.3s;
	opacity: 1;
}
/*blur*/ /*
div.avatar-3W3CeO.wrapper-3t9DeA, .text-37NqbO {
filter: blur(4px);
}
/* Member List Edit */
:root {
	--hover-animation-speed: 1s;
	--seperator-color: var(--background-accent);
}
.membersWrap-2h-GB4 {
	min-width: unset;
	width: 25px;
	margin-bottom: 88px;
	margin-top: 10px;
	justify-content: right;
}
.members-1998pB {
	transition: transform var(--hover-animation-speed);
}
.membersWrap-2h-GB4:hover .members-1998pB {
	transform: translateX(-240px);
}
.membersWrap-2h-GB4 .membersGroup-v9BXpm::after {
	content: '';
	width: 50px;
	height: 2px;
	border-radius: 50px;
	background: unset;
	background-color: var(--seperator-color);
	position: absolute;
	left: -36px;
	top: 29px;
	margin-left: 0px;
}
.membersWrap-2h-GB4 .members-1998pB .member-3-YXUe {
	background-color: unset;
	margin-left: 0px;
	transition: margin-left var(--hover-animation-speed);
}
.membersWrap-2h-GB4:hover .members-1998pB .member-3-YXUe {
	margin-left: 8px;
}
.membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
	transform: translateX(-6px);
}
.members-1998pB {
	border-radius: 15px 15px 0 0 !important;
}
.membersWrap-2h-GB4,
.members-1998pB {
	left: 15px;
	margin-right: 10px;
}
.members-1998pB,
.members-1998pB > div {
	background-color: var(--background-secondary3);
	border-radius: 15px 0px 0px 15px !important;
}
/* --- */
#message-actions-pin,
#message-pin,
#message-unpin {
	color: skyblue;
}
#message-actions-pin:hover,
#message-pin:hover,
#message-unpin:hover {
	background-color: #67a7c0;
	color: #fff;
}
#message-actions-reply,
#message-reply {
	color: khaki;
}
#message-actions-reply:hover,
#message-reply:hover {
	background-color: #c5bb5d;
	color: #fff;
}
#message-actions-thread,
#message-thread {
	color: #69c069;
}
#message-actions-thread:hover,
#message-thread:hover {
	background-color: #5dbd5d;
	color: #fff;
}
#message-actions-mark-unread,
#message-mark-unread {
	color: plum;
}
#message-actions-mark-unread:hover,
#message-mark-unread:hover {
	background-color: #c27ec2;
	color: #fff;
}
#message-actions-copy-link,
#message-copy-link {
	color: lightseagreen;
}
#message-actions-copy-link:hover,
#message-copy-link:hover {
	background-color: #199c96;
	color: #fff;
}
#message-actions-tts,
#message-tts {
	color: var(--brand-experiment);
}
#message-actions-tts:hover,
#message-tts:hover {
	background-color: var(--brand-experiment);
	color: #fff;
}
#message-actions-copy-id,
#message-devmode-copy-id {
	color: lightsalmon;
}
#message-actions-copy-id:hover #message-devmode-copy-id:hover {
	background-color: lightsalmon;
	color: #fff;
}
#message-edit,
#message-actions-edit {
	color: steelblue;
}
#message-edit:hover,
#message-actions-edit:hover {
	background-color: steelblue;
	color: #fff;
}
#message-add-reaction {
	color: goldenrod;
}
#message-add-reaction:hover {
	background-color: goldenrod;
	color: #fff;
}
* {
	font-family: 'system-ui' !important;
}
@import url('https://akisblack.tech/DiscordAddons/Snippets/NameIcon/index.css');
.winButtonClose-1HsbF-:hover,
.winButtonMinMax-PBQ2gm:nth-child(3):hover,
.winButtonMinMax-PBQ2gm:nth-child(4):hover {
	background: linear-gradient(
		271deg,
		#078d70,
		#26ceaa,
		#98e8c1,
		#ffffff,
		#7bade2,
		#5049cc,
		#3d1a78
	);
	background-size: 1400% 1400%;
	-webkit-animation: MLM 6s ease infinite;
	-moz-animation: MLM 6s ease infinite;
	-o-animation: MLM 6s ease infinite;
	animation: MLM 6s ease infinite;
}
@-webkit-keyframes MLM {
	0% {
		background-position: 0% 46%;
	}
	50% {
		background-position: 100% 55%;
	}
	100% {
		background-position: 0% 46%;
	}
}
@-moz-keyframes MLM {
	0% {
		background-position: 0% 46%;
	}
	50% {
		background-position: 100% 55%;
	}
	100% {
		background-position: 0% 46%;
	}
}
@-o-keyframes MLM {
	0% {
		background-position: 0% 46%;
	}
	50% {
		background-position: 100% 55%;
	}
	100% {
		background-position: 0% 46%;
	}
}
@keyframes MLM {
	0% {
		background-position: 0% 46%;
	}
	50% {
		background-position: 100% 55%;
	}
	100% {
		background-position: 0% 46%;
	}
}

div[data-user-id^='yourid']
	> .contents-2mQqc9
	> .header-23xsNx
	> .headerText-3Uvj1Y
	> .username-1A8OIy {
	background-image: linear-gradient(
		to right,
		#ff6663,
		#feb144,
		#fdfd97,
		#9ee09e,
		#9ec1cf,
		#a05bfd,
		#cc99c9
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: move 2000s linear infinite;
}
@keyframes move {
	to {
		background-position: 26000px;
	}
}
.unreadMentionsIndicatorTop-2-tcdU,
.unreadMentionsBar-1Bu1dC {
	display: none;
}

#app-mount [data-user-id='536197278126309397'] .badgeList-1R1WgZ::after,
#app-mount [data-user-id='536197278126309397'] .profileBadges-ohc0Vu::after,
#app-mount [data-user-id='536197278126309397'] .badges-XRnWAp::after {
	content: '';
	width: 22px;
	height: 22px;
	background: url(https://cdn.discordapp.com/attachments/869695065210109992/871383395249324042/Untitled.png)
		center / 100% 100%;
}
.subtext-3CDbHg,
.customStatus-3tC2ig,
.hovered-d5PMVU,
.title-eS5yk3 {
	background-image: linear-gradient(
		to left,
		rgb(51, 255, 0),
		rgb(255, 230, 0),
		red,
		rgb(234, 0, 255),
		rgb(0, 140, 255),
		rgb(51, 255, 0)
	);
	animation: gradient-border 4s linear infinite;
	background-size: 400% 100%;
	color: transparent !important;
	-webkit-background-clip: text;
	position: relative;
	z-index: 1;
}
@keyframes gradient-border {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 130% 0;
	}
}
.markdown-hover {
	display: none;
}
#floating-editor-window.resizable {
	max-height: unset;
	max-width: unset;
}
.unreadMentionsIndicatorBottom-2mDYbI,
.unreadMentionsIndicatorTop-2-tcdU {
	display: none;
}
html:root {
	--font-display: var(--font-primary);
}
.toolbar-1t6TWx a {
	display: none;
}
::selection {
	background-color: red;
}
.menu-3sdvDG {
	animation: custom-menu-animation 250ms ease;
	transform-origin: top;
}
@keyframes custom-menu-animation {
	0% {
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(1);
	}
}
.search-2oPWTC:not(.open-6_Y_aH) .searchBar-3dMhjb {
	width: 27px;
	transition: 0.25s;
	background-color: transparent;
}
.search-2oPWTC:not(.open-6_Y_aH):hover .searchBar-3dMhjb {
	width: 240px;
	background-color: var(--background-tertiary);
}
.search-2oPWTC:not(.open-6_Y_aH) .iconContainer-O4O2CN {
	transform: scale(1.3);
	transition: 0.25s;
}
.search-2oPWTC:not(.open-6_Y_aH):hover .iconContainer-O4O2CN {
	transform: scale(1);
}
.icon-3cZ1F_ {
	color: var(--text-normal);
}
/** @format */

button {
	border-radius: var(--chattyBorderRadius) !important;
}
.lookOutlined-3sRXeN.colorGreen-29iAKY {
	background: #2f8f644a;
}
.lookOutlined-3sRXeN.colorYellow-2JqYwt {
	background: #d892194a;
}
.lookOutlined-3sRXeN.colorBlack-1jwPVL {
	background: #0404054a;
}
.lookOutlined-3sRXeN.colorGrey-2DXtkV {
	background: #747f8d4a;
}
.lookOutlined-3sRXeN.colorLink-35jkBc {
	background: #00b0f44a;
}
.lookOutlined-3sRXeN.colorPrimary-3b3xI6 {
	background: #ffffff4a;
}
.lookOutlined-3sRXeN.colorRed-1TFJan {
	background: #f047474a;
}
.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
	background: #ffffff4a;
}
.lookOutlined-3sRXeN.colorBrand-3pXr91 {
	background: #7289da4a;
}
button {
	border-radius: var(--chattyBorderRadius) !important;
}
.lookOutlined-3sRXeN.colorGreen-29iAKY {
	background: #2f8f644a;
}
.lookOutlined-3sRXeN.colorYellow-2JqYwt {
	background: #d892194a;
}
.lookOutlined-3sRXeN.colorBlack-1jwPVL {
	background: #0404054a;
}
.lookOutlined-3sRXeN.colorGrey-2DXtkV {
	background: #747f8d4a;
}
.lookOutlined-3sRXeN.colorLink-35jkBc {
	background: #00b0f44a;
}
.lookOutlined-3sRXeN.colorPrimary-3b3xI6 {
	background: #ffffff4a;
}
.lookOutlined-3sRXeN.colorRed-1TFJan {
	background: #f047474a;
}
.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
	background: #ffffff4a;
}
.lookOutlined-3sRXeN.colorBrand-3pXr91 {
	background: #7289da4a;
}
.backdrop-1wrmKB {
	background: #00000055 !important;
	opacity: 1 !important;
}
.inner-1ilYF7 {
	background: none !important;
}
.root-SR8cQa {
	background: none !important;
	backdrop-filter: blur(var(--chattyBlur)) brightness(0.8);
	border-radius: var(--chattyBorderRadius);
}
.inner-1ilYF7 .body-3ND3kc {
	background: #00000066;
}
.topSectionSpotify-1lI0-P {
	background: #1db954a8;
}
.connectedAccount-36nQx7 {
	border: none;
	background: #00000066;
	border-radius: var(--chattyBorderRadius);
}
.userInfoSection-2acyCx + .userInfoSection-2acyCx {
	border-top: none;
}
.topSectionNormal-2-vo2m {
	background: #000000a8;
}
.topSectionNormal-2-vo2m .tabBarContainer-1s1u-z {
	border-top: none;
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
	background: #00000066;
	border-radius: var(--chattyBorderRadius);
}
.lookInverted-2D7oAl.colorGreen-29iAKY {
	background: #1db954a8;
	color: #fff;
	border-radius: var(--chattyBorderRadius);
}
.lookInverted-2D7oAl.colorGreen-29iAKY:hover {
	background: #1db954;
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
	background: #7289daa8;
}
.topSectionPlaying-1J5E4n {
	background: #7289daa8;
}
.lookInverted-2D7oAl.colorBrand-3pXr91 {
	background: #7289daa8;
	border-radius: var(--chattyBorderRadius);
	color: #fff;
}
.lookInverted-2D7oAl.colorBrand-3pXr91:hover {
	background: #7289da;
}
.topSectionStreaming-1Tpf5X {
	background: #593695a8;
}
.buttonInvertedPurple-WtBglX {
	border-radius: var(--chattyBorderRadius);
	background: #593695a8;
	color: #fff;
}
.buttonInvertedPurple-WtBglX:hover {
	background: #593695;
}
.topSectionStreaming-1Tpf5X .lookOutlined-3sRXeN.colorWhite-rEQuAQ {
	background: #593695a8 !important;
}
.topSectionStreaming-1Tpf5X .lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover {
	background: #593695 !important;
}
.topSectionPlaying-1J5E4n .lookOutlined-3sRXeN.colorWhite-rEQuAQ {
	background: #7289daa8 !important;
}
.topSectionPlaying-1J5E4n .lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover {
	background: #7289da !important;
}
.tabBarContainer-1s1u-z {
	border-top: none;
	height: 40px;
}
.tabBar-2MuP6- {
	height: 40px;
}
.layers-3iHuyZ .layer-3QrUeG {
	background: transparent;
}
.layers-3iHuyZ .layer-3QrUeG .standardSidebarView-3F1I7i {
	background: transparent;
	margin: var(--chattyPadding);
}
.layers-3iHuyZ .layer-3QrUeG .standardSidebarView-3F1I7i .sidebarRegion-VFTUkN {
	margin-right: var(--chattyPadding);
	flex: 0 0 218px;
	border-radius: var(--chattyBorderRadius);
	overflow: hidden;
	background: transparent;
}
.layers-3iHuyZ
	.layer-3QrUeG
	.standardSidebarView-3F1I7i
	.sidebarRegion-VFTUkN
	.sidebar-CFHs9e {
	padding-top: 15px;
	padding-bottom: 15px;
	background: transparent;
}
.layers-3iHuyZ
	.layer-3QrUeG
	.standardSidebarView-3F1I7i
	.sidebarRegion-VFTUkN
	.sidebarRegionScroller-3MXcoP {
	background: rgba(0, 0, 0, 0.6);
}
.layers-3iHuyZ .layer-3QrUeG .standardSidebarView-3F1I7i .contentRegion-3nDuYy {
	width: 100px;
	background: transparent;
	border-radius: var(--chattyBorderRadius);
	overflow: hidden;
}
.layers-3iHuyZ
	.layer-3QrUeG
	.standardSidebarView-3F1I7i
	.contentRegion-3nDuYy
	.contentRegionScroller-26nc1e {
	background: rgba(0, 0, 0, 0.6);
}
.layers-3iHuyZ
	.layer-3QrUeG
	.standardSidebarView-3F1I7i
	.contentRegion-3nDuYy
	.contentRegionScroller-26nc1e
	.contentColumn-2hrIYH {
	max-width: 100%;
}
.layers-3iHuyZ
	.layer-3QrUeG
	.standardSidebarView-3F1I7i
	.contentRegion-3nDuYy
	.contentRegionScroller-26nc1e
	.contentColumn-2hrIYH
	.background-1QDuV2 {
	border-radius: var(--chattyBorderRadius);
	background: rgba(0, 0, 0, 0.3);
	padding: 20px;
}
.layers-3iHuyZ
	.layer-3QrUeG
	.standardSidebarView-3F1I7i
	.contentRegion-3nDuYy
	.contentRegionScroller-26nc1e
	.contentColumn-2hrIYH
	.background-1QDuV2
	.avatarUploaderInner-3UNxY3 {
	border-radius: var(--chattyBorderRadius);
}
.layers-3iHuyZ
	.layer-3QrUeG
	.standardSidebarView-3F1I7i
	.contentRegion-3nDuYy
	.contentRegionScroller-26nc1e
	.contentColumn-2hrIYH
	.background-1QDuV2
	.fieldList-21DyL8 {
	border-radius: var(--chattyBorderRadius);
	background: rgba(0, 0, 0, 0.3);
}
#app-mount {
	background-image: var(--chattyBackgroundImage) !important;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
#app-mount .typeWindows-1za-n7 {
	background: transparent !important;
	backdrop-filter: blur(var(--chattyBlur)) brightness(0.5);
	height: 18px;
	margin-top: 0px;
	padding-top: 5px;
}
#app-mount .app-2rEoOp {
	background: transparent !important;
	backdrop-filter: blur(var(--chattyBlur)) brightness(0.7);
}
#app-mount .app-2rEoOp .bg-h5JY_x {
	background: transparent !important;
}
#app-mount .app-2rEoOp .wrapper-1Rf91z {
	background: transparent !important;
	padding-top: 6px;
}
#app-mount .app-2rEoOp .wrapper-1Rf91z .scroller-2TZvBN {
	background: transparent !important;
}
#app-mount
	.app-2rEoOp
	.wrapper-1Rf91z
	.scroller-2TZvBN
	.listItem-2P_4kh
	.wrapper-25eVIn
	.svg-1X37T1 {
	overflow: hidden;
}
#app-mount
	.app-2rEoOp
	.wrapper-1Rf91z
	.scroller-2TZvBN
	.listItem-2P_4kh
	.wrapper-25eVIn
	.svg-1X37T1
	mask {
	display: none;
}
#app-mount
	.app-2rEoOp
	.wrapper-1Rf91z
	.scroller-2TZvBN
	.listItem-2P_4kh
	.wrapper-25eVIn
	.wrapper-1BJsBx {
	border-radius: 100%;
	overflow: hidden;
}
#app-mount
	.app-2rEoOp
	.wrapper-1Rf91z
	.scroller-2TZvBN
	.listItem-2P_4kh
	.wrapper-25eVIn
	.wrapper-1BJsBx.selected-bZ3Lue {
	border-radius: var(--chattyBorderRadius);
}
#app-mount
	.app-2rEoOp
	.wrapper-1Rf91z
	.scroller-2TZvBN
	.listItem-2P_4kh
	.wrapper-25eVIn
	.circleIconButton-jET_ig {
	border-radius: var(--chattyBorderRadius);
	background: rgba(0, 0, 0, 0.4);
}
#app-mount
	.app-2rEoOp
	.wrapper-1Rf91z
	.scroller-2TZvBN
	.listItem-2P_4kh
	.wrapper-25eVIn
	.folderIconWrapper-226oVY {
	border-radius: var(--chattyBorderRadius);
	overflow: hidden;
}
#app-mount
	.app-2rEoOp
	.wrapper-1Rf91z
	.scroller-2TZvBN
	.listItem-2P_4kh
	.wrapper-25eVIn
	.folder-21wGz3 {
	background: transparent !important;
}
#app-mount
	.app-2rEoOp
	.wrapper-1Rf91z
	.scroller-2TZvBN
	.wrapper-21YSNc
	.expandedFolderBackground-2sPsd- {
	background: rgba(0, 0, 0, 0.4);
	border-radius: var(--chattyBorderRadius);
	padding-top: 48px;
	margin-bottom: 17px;
}
#app-mount .app-2rEoOp .sidebar-2K8pFh {
	background: rgba(0, 0, 0, 0.4);
	border-radius: var(--chattyBorderRadius);
	margin-top: var(--chattyPadding);
	margin-bottom: var(--chattyPadding);
}
#app-mount .app-2rEoOp .sidebar-2K8pFh .container-3w7J-x {
	background: transparent;
}
#app-mount .app-2rEoOp .sidebar-2K8pFh .container-3w7J-x .header-2V-4Sw {
	box-shadow: none;
}
#app-mount .app-2rEoOp .sidebar-2K8pFh .privateChannels-1nO12o {
	background: transparent;
}
#app-mount
	.app-2rEoOp
	.sidebar-2K8pFh
	.privateChannels-1nO12o
	.searchBar-6Kv8R2 {
	box-shadow: none;
}
#app-mount
	.app-2rEoOp
	.sidebar-2K8pFh
	.privateChannels-1nO12o
	.searchBar-6Kv8R2
	.searchBarComponent-32dTOx {
	text-align: center;
	background: rgba(0, 0, 0, 0.4);
	color: #888;
}
#app-mount
	.app-2rEoOp
	.sidebar-2K8pFh
	.privateChannels-1nO12o
	.scroller-1JbKMe {
	background: transparent;
}
#app-mount .app-2rEoOp .sidebar-2K8pFh .panels-j1Uci_ {
	background: transparent;
}
#app-mount .app-2rEoOp .container-1D34oG {
	background: rgba(0, 0, 0, 0.6);
	margin: var(--chattyPadding);
	border-radius: var(--chattyBorderRadius);
}
#app-mount .app-2rEoOp .container-1D34oG .container-1r6BKw.themed-ANHk51 {
	background: rgba(0, 0, 0, 0.4);
}
#app-mount
	.app-2rEoOp
	.container-1D34oG
	.container-1r6BKw.themed-ANHk51
	.children-19S4PO::after {
	display: none !important;
}
#app-mount .app-2rEoOp .container-1D34oG .actionButton-uPB8Fs {
	border-radius: var(--chattyBorderRadius);
	background: rgba(0, 0, 0, 0.4);
}
#app-mount .app-2rEoOp .container-1D34oG .nowPlayingColumn-2sl4cE {
	background: transparent;
}
#app-mount
	.app-2rEoOp
	.container-1D34oG
	.nowPlayingColumn-2sl4cE
	.consentCard-1iSxB_ {
	background: rgba(0, 0, 0, 0.4);
}
#app-mount
	.app-2rEoOp
	.container-1D34oG
	.nowPlayingColumn-2sl4cE
	.itemCard-v9viV7 {
	background: rgba(0, 0, 0, 0.4);
}
#app-mount .app-2rEoOp .chat-3bRxxu {
	background: rgba(0, 0, 0, 0.6);
	margin: var(--chattyPadding);
	border-radius: var(--chattyBorderRadius);
}
#app-mount .app-2rEoOp .chat-3bRxxu .container-1r6BKw.themed-ANHk51 {
	background: transparent;
}
#app-mount
	.app-2rEoOp
	.chat-3bRxxu
	.container-1r6BKw.themed-ANHk51
	.children-19S4PO:after {
	opacity: 0;
}
#app-mount
	.app-2rEoOp
	.chat-3bRxxu
	.container-1r6BKw.themed-ANHk51
	.searchBar-3dMhjb {
	background: rgba(0, 0, 0, 0.4);
}
#app-mount .app-2rEoOp .chat-3bRxxu .content-yTz4x3:before {
	display: none;
}
#app-mount .app-2rEoOp .chat-3bRxxu .messagesWrapper-1sRNjr {
	background: transparent;
}
#app-mount
	.app-2rEoOp
	.chat-3bRxxu
	.messagesWrapper-1sRNjr
	.blockquoteDivider-2hH8H6 {
	width: 0px;
}
#app-mount .app-2rEoOp .chat-3bRxxu .messagesWrapper-1sRNjr blockquote {
	background: rgba(0, 0, 0, 0.4);
	border-radius: var(--chattyBorderRadius);
	padding: 8px;
}
#app-mount
	.app-2rEoOp
	.chat-3bRxxu
	.messagesWrapper-1sRNjr
	.imageWrapper-2p5ogY {
	border-radius: var(--chattyBorderRadius);
	box-shadow: var(--elevationHigh);
	transition: 0.2s ease-in-out;
}
#app-mount
	.app-2rEoOp
	.chat-3bRxxu
	.messagesWrapper-1sRNjr
	.imageWrapper-2p5ogY:hover {
	transform: scaleY(1.02) scaleX(1.02);
}
#app-mount .app-2rEoOp .chat-3bRxxu .messagesWrapper-1sRNjr .video-8eMOth {
	border-radius: var(--chattyBorderRadius);
	box-shadow: var(--elevationHigh);
}
#app-mount .app-2rEoOp .chat-3bRxxu .messagesWrapper-1sRNjr .embedFull-2tM8-- {
	background: rgba(0, 0, 0, 0.4);
	border-left: 0px;
	border-bottom: var(--chattyBorderRadius) solid;
	border-radius: var(--chattyBorderRadius);
	box-shadow: var(--elevationHigh);
}
#app-mount
	.app-2rEoOp
	.chat-3bRxxu
	.messagesWrapper-1sRNjr
	.embedFull-2tM8--
	.grid-1nZz7S {
	padding-top: 3px;
	padding-bottom: 10px;
}
#app-mount .app-2rEoOp .chat-3bRxxu .form-2fGMdU:before {
	opacity: 0;
}
#app-mount .app-2rEoOp .chat-3bRxxu .channelTextArea-rNsIhG {
	background: rgba(0, 0, 0, 0.4);
	border-radius: var(--chattyBorderRadius);
}
#app-mount
	.app-2rEoOp
	.chat-3bRxxu
	.channelTextArea-rNsIhG
	.scrollableContainer-2NUZem {
	background: transparent !important;
}
#app-mount .app-2rEoOp .chat-3bRxxu .members-1998pB {
	background: transparent !important;
}
#app-mount .app-2rEoOp .chat-3bRxxu .members-1998pB > div {
	background: transparent !important;
}
#app-mount .app-2rEoOp .noChannel-Z1DQK7 {
	background: transparent;
	border-radius: var(--chattyBorderRadius);
	margin: var(--chattyPadding);
}
#app-mount .app-2rEoOp .noChannel-Z1DQK7 .image-1GzsFd {
	display: none;
}
#app-mount .app-2rEoOp .noChannel-Z1DQK7 .flexChild-faoVW3 {
	background: rgba(0, 0, 0, 0.4);
	padding: 20px;
	border-radius: var(--chattyBorderRadius);
}
#app-mount .app-2rEoOp .noChannel-Z1DQK7 .flexChild-faoVW3 .title-2BxgL2 {
	color: #f53e3e;
	text-shadow: #f53e3e 0px 0px 0px;
	transition: 0.4s ease-in-out;
}
#app-mount .app-2rEoOp .noChannel-Z1DQK7 .flexChild-faoVW3 .title-2BxgL2:hover {
	text-shadow: #f53e3e 0px 0px 20px;
}
#app-mount .app-2rEoOp .noChannel-Z1DQK7 .flexChild-faoVW3 .text-GwUZgS {
	color: silver;
}
*::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.6) !important;
	border-radius: var(--chattyBorderRadius) !important;
}
*::-webkit-scrollbar-track-piece {
	background: transparent !important;
	border: transparent !important;
}
code {
	background: rgba(0, 0, 0, 0.6) !important;
	border: none !important;
	border-radius: var(--chattyBorderRadius) !important;
}
/*my watermark*/
.titleBar-AC4pGV::after {
    content: "Chatty";
    color: rgba(255, 8, 0, 0.507);
    position: absolute;
    font-weight: 800 !important;
    left: 50%;
    height: 5px;
    top: 1px;
    }

.perksModal-fSYqOq {
background-color: var(--background-primary) !important;
}
.ctaBar-2UsjF2 {
box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
}
.tier-12tKuZ {
box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
}
.perk-2WeBWW {
box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
}
.wrapper-2qzCYF {
    z-index: 2;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background-color: transparent !important;
    overflow: hidden;
}
